name: Run tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group: [1, 2, 3, 4, 5]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run pytest
        run: pytest --cov --splits 5 --group ${{ matrix.group }}
      - name: Upload coverage
        uses: actions/upload-artifact@v1
        with:
          name: coverage${{ matrix.group }}
          path: .coverage

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # v2 will support downloading multiple with single step: https://github.com/actions/download-artifact/issues/23#issue-580701561
      - name: Download coverage1
        uses: actions/download-artifact@v1
        with:
          name: coverage1
      - name: Download coverage2
        uses: actions/download-artifact@v1
        with:
          name: coverage2
      - name: Download coverage3
        uses: actions/download-artifact@v1
        with:
          name: coverage3
      - name: Download coverage4
        uses: actions/download-artifact@v1
        with:
          name: coverage4
      - name: Download coverage5
        uses: actions/download-artifact@v1
        with:
          name: coverage5
      - name: Run coverage
        run: |
          coverage combine coverage*/.coverage*
          coverage report --fail-under=100
      - uses: codecov/codecov-action@v1
